<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>El autor de la página es <strong>David Martínez Pedroche</strong></p>
    <p><img src="http://davidmartinezpedroche.neocities.org/p1/foto.png"/></p>
  </body>
  <footer><a href="https://github.com/davidMteleco/quiz-">URL de github</a></footer>
</html>
