<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a  <%= title %></p>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/question">Comience a jugar</p>
  </body>
  <footer><a href="https://github.com/davidMteleco/quiz-">URL de github</a></footer>
</html>
